/* icon links 16 start */

body {
  /* background black */
/*   background-color: black;  */
/* darker grey */
/*   background-color: #2d303e; */
  background-color: #20222c;
/*   padding: 40px 48px; */
}

.item {
  display: inline-block;
  margin: 8px;
  /* , and end it with */ 
/*  black  */
/*   background-color: #050505; */
/* darker grey */
  background-color: #2d303e;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
  transition: all 0.05s linear;
}
.item a {
  position: relative;
  display: inline-block;
  border-radius: 10px;
/*   line-height: 40px; */
  line-height: 35px;
  padding: 0 32px 0 48px;
  font-weight: 400;
  text-decoration: none;
  font-family: "Inter";
/*  grey  */
/*   color: #6d6d6d; */
/*  lighter grey  */
color: #c9cccf;
  font-size: 14px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-start;
/*  controls the color between icons  */
/* black #020202 */
/*   background-color: #020202; */
/* darker grey */
/*   background-color: #2d303e; */
  background-color: #20222c;
  margin: 16px;
  padding: 8px;
}


.item a .iconyshape {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  
/* icon links 16 end */ 

/*.item1 a .iconyshape1 {
  position: absolute;
  top: -30px;
  left: 60px;
  height: 16px;
  width: 16px;
  border-radius: 100%;*/
